@media screen and (min-width: 320px) and (max-width: 580px) {
    .responsive {
        flex-direction: row;
    }

    .navbar {
        justify-content: flex-start !important;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}